header {
  background-color: #eac926;
}

body {
  background-color: #ebebeb;

}

main {
  width: 90vw;
}

.detalles {
  border-top: solid 1px #ebebeb;
  padding: 15px;
}

.burger-menu {
  margin: auto;
}

article {
  margin: 10px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  width: 90vw;
}


* {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: auto;
}

h3 {
  font-size: 24px;
}

.precio {
  font-size: 18px;
}

article p {
  font-size: 16px;
}

p {
  font-size: 12px;
}

footer {
  text-align: center;
}

i {
  width: 2em;
}

footer i {
  margin-bottom: 10px;
  height: 2em;
}

img {
  width: 90vw;
}