header {
  background-color: #eac926;
}

body {
  background-color: #ebebeb;

}


.detalles i{
display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
color: green;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: relative;
right: 8px;
top: -15px;
}

article:hover .detalles i{
  transition: all 2s;
  transform: rotate(-90deg);
}



.main-nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

header input {
  margin-right: 4px;
}

header span i{
  border: solid 1px;
  background-color: white;
  display: inline-block;
  width: 20px;
}

.main-nav a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 7px 0 ;
}

main {
  width: 90%;
}

.detalles {
  background-color: white;
  border-top: solid 1px #ebebeb;
  padding: 15px;
}

.burger-menu {
  background-color: cornflowerblue;
  max-width: 50px;
  border-radius: 7px;
  padding: 15px 0;
  font-size: 18px;
  box-sizing: border-box;
  margin: auto;
  display: block;
  text-align: center;
  display: none;
}

header p{
  text-align: center;
  font-size: 18px;
}

article {
  margin: 15px;
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


.descripcion{
  display: none;
}

article:hover .descripcion{
  display: block;
  transition: all 1s;
}

article:hover{
  box-shadow: 0px 0px 20px rgb(000, 000, 000);
  transition: all 1s;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h3 {
  font-size: 24px;
}

.precio {
  font-size: 18px;
  width: 30%;
}

.cajaDatos{
  display: flex;
}


.descuento{
  width: 70%;
  color: rgba(000, 234, 000, 0.7);
}

article p {
  font-size: 16px;
}

p {
  font-size: 12px;
}

footer {
  text-align: center;
}

i {
  width: 2em;
}

footer i {
  margin-bottom: 10px;
  height: 2em;
}

img {
  width: 100%;
}

.abajo{
  display: flex;
  justify-content: center;
}
/* 
@media (min-width:361px){
  main section article .descripcion{
    display:block;
  }
  
  main section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start; 
  }

  main .productos article{
    width: 45%;
  }

  .precio,.descuento{
    width: 50%;
  }
}

@media(min-width:769px){
  main .productos article{
    width: 22%;
  }
} */

@media(min-width:769px){
  footer{
    display: flex;
  }
}